[submodule "wa-visualization/wasm/whatsmeow"]
	path = wa-visualization/wasm/whatsmeow
	url = git@github.com:tulir/whatsmeow.git
[submodule "backEnd/meowTest/whatsmeow"]
	path = backEnd/meowTest/whatsmeow
	url = git@github.com:tulir/whatsmeow.git
