// change the theme
$theme-colors: (
  "primary":    rgba(7, 121, 81, 0.851),
  "secondary":  #117a56de,
  "background":  rgb(204, 211, 209),
  "success":    #09D495ff,
  "light":      #FBFCFEff,
  "dark":       #022224ff
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 50%;
    overflow:hidden;
}

.modal-body {
    max-height: 100%;
    overflow-y: auto;
}

// To fix the modal container position with scroling
@media screen and (max-height: 1100px) {
  .modal-body > .disclaimer-container {
    margin-top:140px;
  }
}

@media screen and (max-height: 850px) {
  .modal-body > .disclaimer-container {
    margin-top:260px;
  }
}

.modal-body > .svg-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rightPadding30 {
  padding-right: 30px;
}

.leftPadding20 {
  padding-left: 20px;
}

.topPadding20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

// To not show the x for modals
.modal-header > .btn-close {
  display: none;
}

.container-fluid, .parent{
  height: 100%;
}

.greenish {
  background-color: rgb(234, 243, 240)
}

// To make the word cloud legend a bit more spaced out 
table {
  border-collapse: separate;
  border-spacing: 1em;
}

// To hide word cloud when not enough words
.hidden {
  display: none;
}