// change the theme
$theme-colors: (
  "primary":    #077952ff,
  "secondary":  #03CB89ff,
  "background":  rgb(204, 211, 209),
  "success":    #09D495ff,
  "light":      #FBFCFEff,
  "dark":       #022224ff
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 40%;
    overflow:hidden;
}

.modal-body {
    max-height: 100%;
    overflow-y: auto;
}

// To fix the modal container position with scroling
@media screen and (max-height: 1100px) {
  .modal-body > .container {
    margin-top:90px;
  }
}

@media screen and (max-height: 850px) {
  .modal-body > .container {
    margin-top:220px;
  }
}

.modal-body > .svg-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rightPadding30 {
  padding-right: 30px;
}

.topPadding20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

// To not show the x for modals
.modal-header > .btn-close {
  display: none;
}

.container > .hidden {
  display: none;
}